.Dictionary h1 {
  text-align: center;
  color: #49563a;
}

.Dictionary h3 {
  margin: 5px 0 0;
}
.Dictionary section {
  background: #e5e6e8 0, 2;
  border: 1px solid #c9cbce;
  border-radius: 20px;
  box-shadow: 0 2px 5px;
  margin: 20px 0;
  padding: 20px;
}

.Dictionary input {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #c9cbce;
  border-radius: 10px;
  color: #49563a;
  font-size: 18px;
}

.Dictionary .hint {
  font-size: 12px;
  margin: 6px;
}
